{
  "env": {
    "es2022": true,
    "node": true,
    "browser": true,
    "webextensions": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  }
}
